body {
    font-size: 18px;
    text-align: left;
    cursor: default;
}

a {
    color: #0070d3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table {
    width: 100%;
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
}
.table th,
.table td {
    padding: 8px 10px;
    border: 1px solid #cdcdcd;
}

.table th.isbn {width: 150px;}
.table th.binding_type {width: 150px;}
.table th.size {width: 130px;}
.table th.prices {width: 150px;}
.table th.stocks {width: 140px;}